# Dependencies
/node_modules

# Expo
/.expo
/.expo-shared
/dist
/web-build

# Environment variables
.env
.env.*
!.env.example

# Android
/android/.gradle/
/android/build/
/android/app/build/
/android/local.properties
/android/app/google-services.json

# iOS
/ios/Pods/
/ios/build/
/ios/.xcode.env.local
/ios/GoogleService-Info.plist

# Keys & Certificates
*.jks
*.keystore
*.p8
*.p12
*.pem
*.mobileprovision

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml
